html {
    background-color: firebrick;
    border: 3px solid lawngreen;
}

h1{
    clear: both;
}

nav {
    padding: 0px;
    margin: 0px;
    width: 100%;;
}

.menubar, .menubar2 {
    display: block;
    float: left;
    width: 6%;
    
}

.menubar {
    padding-left: 44%;
}
